In [10]:
import pandas as pd

# Read CSV file into a DataFrame
Calgary_df = pd.read_csv('../data/Calgary.csv')
Edmonton_df = pd.read_csv('../data/Edmonton.csv')
Montreal_df = pd.read_csv('../data/Montreal.csv')
Ottawa_df = pd.read_csv('../data/Ottawa.csv')
Quebec_df = pd.read_csv('../data/Quebec.csv')
Toronto_df = pd.read_csv('../data/Toronto.csv')
Vancouver_df = pd.read_csv('../data/Vancouver.csv')
Winnipeg_df = pd.read_csv('../data/Winnipeg.csv')

# Now, df contains your data from the CSV file
All_Cities=pd.concat([Calgary_df,
Edmonton_df,
Montreal_df,
Ottawa_df,
Quebec_df,
Toronto_df,
Vancouver_df,
Winnipeg_df],axis=0)

In [11]:
All_Cities.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5519 entries, 0 to 547
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Name           5519 non-null   object
 1   Categories     5517 non-null   object
 2   Cuisine Types  5517 non-null   object
 3   Nationalities  3019 non-null   object
 4   Rating         5519 non-null   float64
 5   Address        5519 non-null   object
 6   Res_Latitude   5519 non-null   float64
 7   Res_Longitude  5519 non-null   float64
 8   Reviews        5519 non-null   int64
 9   Distance       5519 non-null   float64
 10  Phone          5374 non-null   float64
 11  Closed         5519 non-null   bool
 12  Price          5519 non-null   object
 13  City           5519 non-null   object
dtypes: bool(1), float64(5), int64(1), object(7)
memory usage: 609.0+ KB

In [12]:
import os
print(os.getcwd())
os.chdir('/Users/harshita/Downloads/Final_project/notebooks')

/Users/harshita/Downloads/Final_project/notebooks

In [13]:
All_Cities.describe()

,Rating,Res_Latitude,Res_Longitude,Reviews,Distance,Phone
count,5519.000000,5519.000000,5519.000000,5519.000000,5519.000000,5.374000e+03
mean,3.781301,47.362453,-92.117593,83.938395,1277.453502,1.531903e+10
std,0.832472,3.266786,19.616967,193.856885,1193.233877,1.763289e+09
min,1.000000,37.294701,-123.211153,1.000000,5.870000,1.204219e+10
25%,3.500000,45.356841,-113.632038,6.000000,583.400000,1.416488e+10
50%,4.000000,45.575260,-79.463710,23.000000,1013.470000,1.514722e+10
75%,4.500000,49.870489,-75.621852,82.000000,1633.425000,1.613695e+10
max,5.000000,53.713942,-71.145570,4124.000000,39042.750000,1.905956e+10

In [14]:
All_Cities.shape

(5519, 14)

In [15]:
print(All_Cities.isnull().sum())

Name                0
Categories          2
Cuisine Types       2
Nationalities    2500
Rating              0
Address             0
Res_Latitude        0
Res_Longitude       0
Reviews             0
Distance            0
Phone             145
Closed              0
Price               0
City                0
dtype: int64

In [13]:
All_Cities['Price'].fillna(method='ffill', inplace=True)

In [34]:
columns_to_fill = ['Nationalities']
All_Cities[columns_to_fill] = All_Cities[columns_to_fill].fillna('NA')

In [35]:
print(All_Cities.isnull().sum())

Name                0
Categories          0
Cuisine Types    2435
Nationalities       0
Rating              0
Address             0
Res_Latitude        0
Res_Longitude       0
Reviews             0
Distance            0
Phone               0
Closed              0
Price               0
dtype: int64

In [18]:
All_Cities.head()

,Name,Categories,Cuisine Types,Nationalities,Rating,Address,Res_Latitude,Res_Longitude,Reviews,Distance,Phone,Closed,Price
0,Le Fin Gourmet,"Canadian (New), Burgers, Breakfast & Brunch",Burgers,Canadian (New),4.5,"774 Rue Raoul-Jobin, Quebec City",46.806850,-71.245840,15,2175.481757,14186825849.0,False,$$
1,L'Oeuforie,"Steakhouses, Breakfast & Brunch",Steakhouses,NaN,4.0,"850 Boulevard Pierre-Bertrand, Vanier",46.826615,-71.273329,7,897.748230,14186814419.0,False,$$
2,Casa Grecque,Greek,NaN,Greek,4.0,"955 Boulevard Pierre-Bertrand, Quebec City",46.827170,-71.275680,5,1108.444575,14185271210.0,False,$$
3,Le Soleil Rouge,Breakfast & Brunch,NaN,NaN,5.0,"380A Avenue Turcotte, Ville de Québec",46.821480,-71.257520,2,450.240401,NA,False,$$
4,Chez Ashton,"Burgers, Hot Dogs, Poutineries",Burgers,NaN,4.0,"550 Boulevard Wilfrid-Hamel, Quebec City",46.821440,-71.251607,1,908.555722,14186480895.0,False,$$

In [36]:
import pandas as pd
import numpy as np
def fill_cuisine(row):
    if pd.notnull(row['Cuisine Types']):
        return row['Cuisine Types']
    categories = row['Categories'].split(', ')
    if len(categories) > 0:
        return categories[0]
    return np.nan

# Apply the function to fill 'Cuisine Types'
All_Cities['Cuisine Types'] = All_Cities.apply(fill_cuisine, axis=1)

# Print the updated DataFrame
All_Cities.head()

,Name,Categories,Cuisine Types,Nationalities,Rating,Address,Res_Latitude,Res_Longitude,Reviews,Distance,Phone,Closed,Price
0,Le Fin Gourmet,"Canadian (New), Burgers, Breakfast & Brunch",Burgers,Canadian (New),4.5,"774 Rue Raoul-Jobin, Quebec City",46.806850,-71.245840,15,2175.481757,14186825849.0,False,$$
1,L'Oeuforie,"Steakhouses, Breakfast & Brunch",Steakhouses,NA,4.0,"850 Boulevard Pierre-Bertrand, Vanier",46.826615,-71.273329,7,897.748230,14186814419.0,False,$$
2,Casa Grecque,Greek,Greek,Greek,4.0,"955 Boulevard Pierre-Bertrand, Quebec City",46.827170,-71.275680,5,1108.444575,14185271210.0,False,$$
3,Le Soleil Rouge,Breakfast & Brunch,Breakfast & Brunch,NA,5.0,"380A Avenue Turcotte, Ville de Québec",46.821480,-71.257520,2,450.240401,NA,False,$$
4,Chez Ashton,"Burgers, Hot Dogs, Poutineries",Burgers,NA,4.0,"550 Boulevard Wilfrid-Hamel, Quebec City",46.821440,-71.251607,1,908.555722,14186480895.0,False,$$

In [37]:
print(All_Cities.isnull().sum())

Name             0
Categories       0
Cuisine Types    0
Nationalities    0
Rating           0
Address          0
Res_Latitude     0
Res_Longitude    0
Reviews          0
Distance         0
Phone            0
Closed           0
Price            0
dtype: int64

In [23]:
Calgary_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 357 entries, 0 to 356
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Name           357 non-null    object
 1   Categories     356 non-null    object
 2   Cuisine Types  192 non-null    object
 3   Nationalities  167 non-null    object
 4   Rating         357 non-null    float64
 5   Address        357 non-null    object
 6   Res_Latitude   357 non-null    float64
 7   Res_Longitude  357 non-null    float64
 8   Reviews        357 non-null    int64
 9   Distance       357 non-null    float64
 10  Phone          351 non-null    float64
 11  Closed         357 non-null    bool
 12  Price          199 non-null    object
dtypes: bool(1), float64(5), int64(1), object(6)
memory usage: 33.9+ KB

In [38]:
All_Cities.to_csv('All_Cities.csv', index=False)

In [5]:
All_Cities.to_excel('../data/All_Cities.xlsx', index=False)  # This will create 'output.xlsx' in the current working directory