In [33]:
import requests
import json
import pandas as pd

YELP_API_KEY = YELP_API_KEY
API_ENDPOINT = 'https://api.yelp.com/v3/businesses/search'

# Yelp API endpoint URL for exploring restaurants
yelp_url = 'https://api.yelp.com/v3/businesses/search'
yelp_headers = {
    "Authorization": f"Bearer {YELP_API_KEY}"
}

venues_data_list = []

yelp_params = {
    'location': 'Toronto',
    'radius': 5000,  # Radius for restaurant search (adjust as needed)
    'categories': 'restaurants',
    'limit': 100,  # Number of restaurants to retrieve (adjust as needed)
}

yelp_response = requests.get(API_ENDPOINT, params=yelp_params, headers=yelp_headers)

# Check if the Yelp response is successful
if yelp_response.status_code == 200:
    yelp_data = json.loads(yelp_response.text)
    for business in yelp_data.get('businesses', []):
        categories = [category.get('title') for category in business.get('categories', [])]
        address1 = business.get('location', {}).get('address1')
        city = business.get('location', {}).get('city')
        if address1 and city:
            address = ', '.join([address1, city])
        else:
            address = 'N/A'  # You can set a default value or handle it in your own way
        restaurant_details = {
            'Name': business.get('name'),
            'Categories': ', '.join(categories),
            'Rating': business.get('rating'),
            'Address': address,
            'Res_Latitude': business.get('coordinates', {}).get('latitude'),
            'Res_Longitude': business.get('coordinates', {}).get('longitude'),
            'Reviews': business.get('review_count'),
            'Distance': business.get('distance'),
            'Phone': business.get('phone'),
            'Closed': business.get('is_closed'),
            'Price': business.get('price')
        }
        venues_data_list.append(restaurant_details)

# Create a DataFrame from the restaurant data list
restaurants_df = pd.DataFrame(venues_data_list)

# Print the DataFrame
print(restaurants_df)

Empty DataFrame
Columns: []
Index: []

In [10]:
yelp_response

In [12]:

# Split comma-separated categories into different columns
categories_df = restaurants_df['Categories'].str.split(', ', expand=True)

# Concatenate categories_df with the original DataFrame
restaurants_df = pd.concat([restaurants_df, categories_df], axis=1)

# Drop the original 'Categories' column
restaurants_df.drop(columns=['Categories'], inplace=True)

# Print the updated DataFrame
print(restaurants_df)

                               Name  Rating  \
0                         The Oxley     4.0
1                   Opus Restaurant     4.0
2            Hemingway's Restaurant     3.5
3                         Kasa Moto     3.5
4                     Cibo Wine Bar     3.0
5                   The Rebel House     3.5
6                      Quanto Basta     3.5
7                      Happy Burger     4.5
8   Madison Avenue Pub & Restaurant     2.5
9                         Pita Land     4.5
10                   AP Restaurants     3.5
11                      Wylie's Pub     3.0
12          Tokyo Hot Fried Chicken     4.0
13  Sushi Maido Japanese Restaurant     4.0
14                 Writers Room Bar     3.5
15    The Puck Sports Bar and Grill     3.0
16                Original Shawarma     4.5
17                       McDonald's     3.5
18                          70 Down     2.0
19                  The Living Room     2.5
20                      Pizza Pizza     1.5
21                           D Azur     4.0
22                           Subway     2.0
23                      Bento Sushi     3.0
24                   The Mighty Cob     5.0
25               Daily Express Cafe     2.0

                              Address  Res_Latitude  Res_Longitude  Reviews  \
0       121 Yorkville Avenue, Toronto     43.670590     -79.393040      186
1    37 Prince Arthur Avenue, Toronto     43.669210     -79.397230       75
2          142 Cumberland St, Toronto     43.670150     -79.392790      306
3       115 Yorkville Avenue, Toronto     43.670608     -79.392784      264
4       133 Yorkville Avenue, Toronto     43.670470     -79.393600      185
5          1068 Yonge Street, Toronto     43.677630     -79.390080      123
6          1112 Yonge Street, Toronto     43.678740     -79.390510       45
7           881 Yonge Street, Toronto     43.674321     -79.388062       18
8          14 Madison Avenue, Toronto     43.667870     -79.403330      181
9         720 Spadina Avenue, Toronto     43.665280     -79.403580       13
10         55 Bloor Street W, Toronto     43.669691     -79.388760       23
11        1234A Yonge Street, Toronto     43.682570     -79.392070       37
12        656 College Street, Toronto     43.655202     -79.416376       46
13        362 Bloor Street W, Toronto     43.666399     -79.405783       77
14             4 Avenue Road, Toronto     43.669269     -79.395036       13
15        362 Bloor Street W, Toronto     43.666441     -79.405658       24
16        750 Spadina Avenue, Toronto     43.666466     -79.404207        7
17        196 Bloor Street W, Toronto     43.668633     -79.395159       17
18       70 Yorkville Avenue, Toronto     43.671420     -79.390870       25
19    18 Saint Thomas Street, Toronto     43.668808     -79.390552       23
20        328 Bloor Street W, Toronto     43.666950     -79.403590       52
21       60 Yorkville Avenue, Toronto     43.671620     -79.389710        1
22           1102 Bay Street, Toronto     43.667660     -79.388800       10
23        425 Bloor Street W, Toronto     43.666200     -79.404880        1
24  1107 Derry Road East, Mississauga     43.668314     -79.682761        1
25        280 Bloor Street W, Toronto     43.667600     -79.400820        2

        Distance         Phone  Closed Price               0  \
0     510.070511  +16473481300   False    $$            Pubs
1     564.988812  +14169213105   False  $$$$       Wine Bars
2     573.921196  +14169682828   False    $$            Bars
3     521.805222  +16473487000   False   $$$        Japanese
4     501.758252  +14169252143   False   $$$       Wine Bars
5     664.607853  +14169270704   False    $$            Pubs
6     713.557942  +14169623141   False    $$         Italian
7     704.393866                 False    $$        Hot Dogs
8     886.509663  +14169271722   False    $$        American
9    1126.045646  +14165468335   False    $$  Middle Eastern
10    825.151246  +14169670000   False  None    Asian Fusion
11   1004.782112  +14169209063   False    $$  Canadian (New)
12   2641.177778                 False  None     Food Trucks
13   1134.890940  +14169617702   False    $$        Japanese
14    575.607119  +16479483140   False  None            Bars
15   1124.911252  +14169017825   False    $$     Sports Bars
16   1052.759862  +16473332999   False  None   Mediterranean
17    642.186217  +14169641583   False  None       Fast Food
18    564.367597  +14163233696   False    $$   Mediterranean
19    790.283774  +14169719666   False   $$$  Canadian (New)
20    981.012603  +14169671111   False     $           Pizza
21    634.442990  +14169640411   False  None          French
22    975.980416  +14169245479   False  None      Sandwiches
23   1108.147250                 False  None      Sushi Bars
24  23007.390339  +12892176444   False  None     Food Trucks
25    815.156553  +14169443225   False  None           Cafes

                     1              2
0           Gastropubs           None
1      Modern European           None
2             American           None
3           Sushi Bars       Desserts
4              Italian  Mediterranean
5           Gastropubs           None
6                 None           None
7              Burgers      Fast Food
8                 Pubs           None
9             Barbeque           None
10       Cocktail Bars        Seafood
11                Thai           None
12       Chicken Wings           None
13                None           None
14  Tapas/Small Plates           None
15            American           None
16                None           None
17             Burgers   Coffee & Tea
18  Tapas/Small Plates  Cocktail Bars
19                None           None
20                None           None
21                None           None
22           Fast Food           None
23                None           None
24            American           None
25                None           None

In [14]:
import pandas as pd

# Sample data
data = {
    'Categories': [
        'Pubs, Gastropubs',
        'Wine Bars, Modern European',
        'Bars, American',
        'Japanese, Sushi Bars, Desserts',
        'Wine Bars, Italian, Mediterranean',
        'Pubs, Gastropubs',
        'Italian',
        'Hot Dogs, Burgers, Fast Food',
        'American, Pubs',
        'Middle Eastern, Barbeque',
        'Asian Fusion, Cocktail Bars, Seafood',
        'Canadian (New), Thai',
        'Food Trucks, Chicken Wings',
        'Japanese',
        'Bars, Tapas/Small Plates',
        'Sports Bars, American',
        'Mediterranean',
        'Fast Food, Burgers, Coffee & Tea',
        'Mediterranean, Tapas/Small Plates, Cocktail Bars',
        'Canadian (New)',
        'Pizza',
        'French',
        'Sandwiches, Fast Food',
        'Sushi Bars',
        'Food Trucks, American',
        'Cafes'
    ]
}

# Create a DataFrame from the sample data
df = pd.DataFrame(data)

# Separate categories into cuisine types and nationalities
cuisine_keywords = ['fast food', 'burgers', 'sushi', 'pizza', 'sandwiches', 'pubs', 'bars','cafes']
nationality_keywords = ['american', 'japanese', 'mediterranean', 'thai', 'french', 'italian', 'middle eastern','canadian','asian','indian']

cuisine_types = []
nationalities = []

for categories in df['Categories']:
    cuisine_list = []
    nationality_list = []
    for category in categories.split(', '):
        category_lower = category.lower()
        if any(keyword in category_lower for keyword in cuisine_keywords):
            cuisine_list.append(category)
        elif any(keyword in category_lower for keyword in nationality_keywords):
            nationality_list.append(category)
    cuisine_types.append(', '.join(cuisine_list))
    nationalities.append(', '.join(nationality_list))

# Add new columns for cuisine types and nationalities
df['Cuisine Types'] = cuisine_types
df['Nationalities'] = nationalities

# Print the updated DataFrame
print(df[['Categories', 'Cuisine Types', 'Nationalities']])

                                          Categories          Cuisine Types  \
0                                   Pubs, Gastropubs       Pubs, Gastropubs
1                         Wine Bars, Modern European              Wine Bars
2                                     Bars, American                   Bars
3                     Japanese, Sushi Bars, Desserts             Sushi Bars
4                  Wine Bars, Italian, Mediterranean              Wine Bars
5                                   Pubs, Gastropubs       Pubs, Gastropubs
6                                            Italian
7                       Hot Dogs, Burgers, Fast Food     Burgers, Fast Food
8                                     American, Pubs                   Pubs
9                           Middle Eastern, Barbeque
10              Asian Fusion, Cocktail Bars, Seafood          Cocktail Bars
11                              Canadian (New), Thai
12                        Food Trucks, Chicken Wings
13                                          Japanese
14                          Bars, Tapas/Small Plates                   Bars
15                             Sports Bars, American            Sports Bars
16                                     Mediterranean
17                  Fast Food, Burgers, Coffee & Tea     Fast Food, Burgers
18  Mediterranean, Tapas/Small Plates, Cocktail Bars          Cocktail Bars
19                                    Canadian (New)
20                                             Pizza                  Pizza
21                                            French
22                             Sandwiches, Fast Food  Sandwiches, Fast Food
23                                        Sushi Bars             Sushi Bars
24                             Food Trucks, American
25                                             Cafes                  Cafes

             Nationalities
0
1
2                 American
3                 Japanese
4   Italian, Mediterranean
5
6                  Italian
7
8                 American
9           Middle Eastern
10            Asian Fusion
11    Canadian (New), Thai
12
13                Japanese
14
15                American
16           Mediterranean
17
18           Mediterranean
19          Canadian (New)
20
21                  French
22
23
24                American
25

In [129]:
import requests
import json
import pandas as pd

YELP_API_KEY = 'zGGRzjpyEqOr_JiQk-5GqdVguOhQgmqXT9zfb3JWAuH0lm2XuEnatEUQGxa28ZHPgHlcVUrNmCPHhSc91_ZiV-DP7Cw-ImkdRoJuFfuZFsoQf315TBVXuh7OGOAyZXYx'
API_ENDPOINT = 'https://api.yelp.com/v3/businesses/search'

# Yelp API endpoint URL for exploring restaurants
yelp_url = 'https://api.yelp.com/v3/businesses/search'
yelp_headers = {
    "Authorization": f"Bearer {YELP_API_KEY}"
}

venues_data_list = []

yelp_params = {
    'location': 'Kennedy, Toronto',
    'radius': 5000,  # Radius for restaurant search (adjust as needed)
    'categories': 'restaurants',
    'limit': 50,  # Number of restaurants to retrieve (adjust as needed)
    }

yelp_response = requests.get(API_ENDPOINT, params=yelp_params, headers=yelp_headers)

# Check if the Yelp response is successful
if yelp_response.status_code == 200:
    yelp_data = json.loads(yelp_response.text)
    for business in yelp_data.get('businesses', []):
        categories = [category.get('title') for category in business.get('categories', [])]
        cuisine_keywords = ['coffee','fast food', 'burgers', 'sushi', 'pizza', 'sandwiches', 'pub', 'bar','cafe','steak','seafood','dessert','beer']
        nationality_keywords = ['european','greek','african','mexican','venezuelan','vietnamese','malaysian','caribbean','persian','filipino','irish','british','scottish','ethiopian','american', 'japanese', 'mediterranean', 'thai', 'french', 'italian', 'middle eastern','canadian','asian','indian','chinese','german','korean','peruvian']
        cuisine_list = []
        nationality_list = []
        for category in categories:
            category_lower = category.lower()
            if any(keyword in category_lower for keyword in cuisine_keywords):
                cuisine_list.append(category)
            elif any(keyword in category_lower for keyword in nationality_keywords):
                nationality_list.append(category)
        restaurant_details = {
            'Name': business.get('name'),
            'Categories': ', '.join(categories),
            'Cuisine Types': ', '.join(cuisine_list),
            'Nationalities': ', '.join(nationality_list),
            'Rating': business.get('rating'),
            'Address': ', '.join([business.get('location', {}).get('address1'), business.get('location', {}).get('city')]) or 'N/A',
            'Res_Latitude': business.get('coordinates', {}).get('latitude'),
            'Res_Longitude': business.get('coordinates', {}).get('longitude'),
            'Reviews': business.get('review_count'),
            'Distance': business.get('distance'),
            'Phone': business.get('phone') or 'N/A',
            'Closed': business.get('is_closed'),
            'Price': business.get('price') or 'N/A',
        }
        venues_data_list.append(restaurant_details)

# Create a DataFrame from the restaurant data list
Kennedy = pd.DataFrame(venues_data_list)

Kennedy.shape

(50, 13)

In [130]:
Toronto_2 = pd.concat([Queen,
Kennedy,
Jane,
Lansdowne,
Kipling,
Downsview,
Sheppard,
Glencairn,
Bay,
College,
King,
Christie,
Clair,
Osgoode,
Bathurst,
Dupont,
Chester,
Bayview,
Woodbine,
Union,
Dufferin,
NYC,
Spadina,
Lawrence,
Eglinton,
Dundas,
Pape,
Wilson,
Davisville,
Sherbourne,
Finch,
Rosedale,
McCowan,
Ossington,
Pleasant,
Wellesley,
Greenwood],axis=0)

In [37]:
East_york_restaurants_df
DonMills_restaurants_df
Rexdale_restaurants_df
Islington_restaurants_df
Thornhill_restaurants_df
Agincourt_restaurants_df
Yorkdale_restaurants_df
Steeles_restaurants_df

In [ ]:
markham_restaurants_df
Leslieville_restaurants_df
Yonge_restaurants_df
Vaughan_restaurants_df
Concord_restaurants_df
Etobi_restaurants_df
North_york_restaurants_df
Woodbridge_restaurants_df

In [57]:
Toronto_df = pd.concat([East_york_restaurants_df, markham_restaurants_df,Leslieville_restaurants_df,Yonge_restaurants_df,Vaughan_restaurants_df,Concord_restaurants_df,Etobi_restaurants_df,North_york_restaurants_df,Woodbridge_restaurants_df], axis=0)

In [66]:
Toronto_df = pd.concat([Toronto_df,DonMills_restaurants_df,Rexdale_restaurants_df,Islington_restaurants_df,Thornhill_restaurants_df,Agincourt_restaurants_df,Yorkdale_restaurants_df,Steeles_restaurants_df], axis=0)

In [67]:
Toronto_df

,Name,Categories,Cuisine Types,Nationalities,Rating,Address,Res_Latitude,Res_Longitude,Reviews,Distance,Phone,Closed,Price
0,The Wren,"Bars, American",Bars,American,4.0,"1382 Danforth Avenue, Toronto",43.682410,-79.328050,223,908.310634,+16477481382,False,$$
1,Local 1794,"Canadian (New), Gastropubs",Gastropubs,Canadian (New),4.0,"1794 Danforth Avenue, Toronto",43.684590,-79.318810,121,878.132132,+14164631794,False,$$
2,Sala Modern Thai Kitchen & Bar,"Thai, Asian Fusion",,"Thai, Asian Fusion",4.5,"1262 Danforth Avenue, Toronto",43.681999,-79.330737,200,1011.635153,+14164059999,False,$$
3,Knuckle Sandwich,"Poutineries, Sandwiches",Sandwiches,,4.0,"969 Coxwell Avenue, Toronto",43.696260,-79.328500,119,674.091526,+16477487999,False,$$
4,Rendez-Vous,Ethiopian,,Ethiopian,4.0,"1408 Danforth Avenue, Toronto",43.682710,-79.327580,116,868.793735,+14164692513,False,$$
...,...,...,...,...,...,...,...,...,...,...,...,...,...
45,Fishman Wharf Seafood,"Seafood, Chinese",Seafood,Chinese,3.5,"4080 Steeles Avenue E, Markham",43.822623,-79.313552,111,1232.647328,+19055136666,False,$$$
46,Liuyishou Hotpot,"Chinese, Hot Pot",,Chinese,4.0,"4188 Finch Avenue East, Toronto",43.804558,-79.287797,48,2832.307159,+14164122088,False,N/A
47,Fuji Lamb House,"Barbeque, Chinese",Barbeque,Chinese,4.0,"3330 Pharmacy Avenue, Scarborough",43.804255,-79.331052,21,1255.142327,+16478300666,False,$$
48,Zen Japanese Restaurant,"Japanese, Sushi Bars",Sushi Bars,Japanese,4.0,"7634 Woodbine Avenue, Markham",43.829270,-79.353234,188,3149.959405,+19056047211,False,$$$$
49,La Petite Colline & Shan Shan Cafe,"Bakeries, Cafes",Cafes,,4.0,"3355 Steeles Avenue E, Toronto",43.813660,-79.346793,143,2061.532656,+14164935885,False,$$

In [68]:
print(Toronto_df.duplicated().sum())

0

In [69]:
Toronto_df.reset_index(drop=True, inplace=True)

In [71]:
duplicates = Toronto_df.duplicated()

In [72]:
duplicates

0      False
1      False
2      False
3      False
4      False
       ...
795    False
796    False
797    False
798    False
799    False
Length: 800, dtype: bool

In [78]:
df_no_duplicates = Toronto_df.drop_duplicates()

In [81]:
test=(df_no_duplicates['Name']=='SpiceBros')

In [82]:
test.sum()

2

In [83]:
test1=df_no_duplicates[(df_no_duplicates['Name']=='SpiceBros')]

In [84]:
test1

,Name,Categories,Cuisine Types,Nationalities,Rating,Address,Res_Latitude,Res_Longitude,Reviews,Distance,Phone,Closed,Price
333,SpiceBros,Indian,,Indian,4.5,"3353 Bloor St W, Toronto",43.644822,-79.521982,19,4149.865302,+14165513008,False,N/A
583,SpiceBros,Indian,,Indian,4.5,"3353 Bloor St W, Toronto",43.644822,-79.521982,19,1628.619362,+14165513008,False,N/A

In [85]:
df_no_duplicates = test1.drop_duplicates(subset=['Name', 'Categories', 'Cuisine Types', 'Nationalities','Address'])

In [86]:
df_no_duplicates

,Name,Categories,Cuisine Types,Nationalities,Rating,Address,Res_Latitude,Res_Longitude,Reviews,Distance,Phone,Closed,Price
333,SpiceBros,Indian,,Indian,4.5,"3353 Bloor St W, Toronto",43.644822,-79.521982,19,4149.865302,+14165513008,False,N/A

In [132]:
Toronto_2_no_duplicates = Toronto_2.drop_duplicates(subset=['Name', 'Categories', 'Cuisine Types', 'Nationalities','Address'])

In [88]:
Toronto_no_duplicates

,Name,Categories,Cuisine Types,Nationalities,Rating,Address,Res_Latitude,Res_Longitude,Reviews,Distance,Phone,Closed,Price
0,The Wren,"Bars, American",Bars,American,4.0,"1382 Danforth Avenue, Toronto",43.682410,-79.328050,223,908.310634,+16477481382,False,$$
1,Local 1794,"Canadian (New), Gastropubs",Gastropubs,Canadian (New),4.0,"1794 Danforth Avenue, Toronto",43.684590,-79.318810,121,878.132132,+14164631794,False,$$
2,Sala Modern Thai Kitchen & Bar,"Thai, Asian Fusion",,"Thai, Asian Fusion",4.5,"1262 Danforth Avenue, Toronto",43.681999,-79.330737,200,1011.635153,+14164059999,False,$$
3,Knuckle Sandwich,"Poutineries, Sandwiches",Sandwiches,,4.0,"969 Coxwell Avenue, Toronto",43.696260,-79.328500,119,674.091526,+16477487999,False,$$
4,Rendez-Vous,Ethiopian,,Ethiopian,4.0,"1408 Danforth Avenue, Toronto",43.682710,-79.327580,116,868.793735,+14164692513,False,$$
...,...,...,...,...,...,...,...,...,...,...,...,...,...
793,Mexico Lindo Express,Mexican,,Mexican,4.0,"2586 Birchmount Road, Scarborough",43.790042,-79.302423,205,2980.056053,+16477480679,False,$$
794,Mr Congee Chinese Cuisine,Chinese,,Chinese,3.0,"2900 Warden Avenue, Scarborough",43.798848,-79.318250,99,1587.519238,+14165513223,False,$$
795,Fishman Wharf Seafood,"Seafood, Chinese",Seafood,Chinese,3.5,"4080 Steeles Avenue E, Markham",43.822623,-79.313552,111,1232.647328,+19055136666,False,$$$
797,Fuji Lamb House,"Barbeque, Chinese",Barbeque,Chinese,4.0,"3330 Pharmacy Avenue, Scarborough",43.804255,-79.331052,21,1255.142327,+16478300666,False,$$
799,La Petite Colline & Shan Shan Cafe,"Bakeries, Cafes",Cafes,,4.0,"3355 Steeles Avenue E, Toronto",43.813660,-79.346793,143,2061.532656,+14164935885,False,$$

In [89]:
Toronto_no_duplicates.reset_index(drop=True, inplace=True)

In [90]:
Toronto_no_duplicates

,Name,Categories,Cuisine Types,Nationalities,Rating,Address,Res_Latitude,Res_Longitude,Reviews,Distance,Phone,Closed,Price
0,The Wren,"Bars, American",Bars,American,4.0,"1382 Danforth Avenue, Toronto",43.682410,-79.328050,223,908.310634,+16477481382,False,$$
1,Local 1794,"Canadian (New), Gastropubs",Gastropubs,Canadian (New),4.0,"1794 Danforth Avenue, Toronto",43.684590,-79.318810,121,878.132132,+14164631794,False,$$
2,Sala Modern Thai Kitchen & Bar,"Thai, Asian Fusion",,"Thai, Asian Fusion",4.5,"1262 Danforth Avenue, Toronto",43.681999,-79.330737,200,1011.635153,+14164059999,False,$$
3,Knuckle Sandwich,"Poutineries, Sandwiches",Sandwiches,,4.0,"969 Coxwell Avenue, Toronto",43.696260,-79.328500,119,674.091526,+16477487999,False,$$
4,Rendez-Vous,Ethiopian,,Ethiopian,4.0,"1408 Danforth Avenue, Toronto",43.682710,-79.327580,116,868.793735,+14164692513,False,$$
...,...,...,...,...,...,...,...,...,...,...,...,...,...
627,Mexico Lindo Express,Mexican,,Mexican,4.0,"2586 Birchmount Road, Scarborough",43.790042,-79.302423,205,2980.056053,+16477480679,False,$$
628,Mr Congee Chinese Cuisine,Chinese,,Chinese,3.0,"2900 Warden Avenue, Scarborough",43.798848,-79.318250,99,1587.519238,+14165513223,False,$$
629,Fishman Wharf Seafood,"Seafood, Chinese",Seafood,Chinese,3.5,"4080 Steeles Avenue E, Markham",43.822623,-79.313552,111,1232.647328,+19055136666,False,$$$
630,Fuji Lamb House,"Barbeque, Chinese",Barbeque,Chinese,4.0,"3330 Pharmacy Avenue, Scarborough",43.804255,-79.331052,21,1255.142327,+16478300666,False,$$
631,La Petite Colline & Shan Shan Cafe,"Bakeries, Cafes",Cafes,,4.0,"3355 Steeles Avenue E, Toronto",43.813660,-79.346793,143,2061.532656,+14164935885,False,$$

In [131]:
Toronto_2.shape

(1850, 13)

In [133]:
Toronto_2_no_duplicates.shape

(863, 13)

In [134]:
Toronto_df = pd.concat([Toronto_2_no_duplicates,Toronto_no_duplicates],axis=0)

In [135]:
Toronto_df.shape

(1495, 13)

In [136]:
Toronto_final = Toronto_df.drop_duplicates(subset=['Name', 'Categories', 'Cuisine Types', 'Nationalities','Address'])

In [137]:
Toronto_final.shape

(1205, 13)

In [138]:
Toronto_final.reset_index(drop=True, inplace=True)

In [139]:
Toronto_final.to_csv('Toronto.csv', index=False)

In [140]:
Toronto_final

,Name,Categories,Cuisine Types,Nationalities,Rating,Address,Res_Latitude,Res_Longitude,Reviews,Distance,Phone,Closed,Price
0,Pai Northern Thai Kitchen,Thai,,Thai,4.5,"18 Duncan Street, Toronto",43.647840,-79.388720,3522,2400.967551,+14169014724,False,$$
1,Richmond Station,Canadian (New),,Canadian (New),4.5,"1 Richmond Street W, Toronto",43.651373,-79.379285,912,3222.053229,+16477481444,False,$$$
2,Mildred's Temple Kitchen,"Breakfast & Brunch, Canadian (New)",,Canadian (New),4.0,"85 Hanna Avenue, Toronto",43.639911,-79.420424,1044,518.591403,+14165885695,False,$$
3,Gusto 101,Italian,,Italian,4.0,"101 Portland Street, Toronto",43.645002,-79.400309,1159,1434.362264,+14165049669,False,$$
4,Byblos,"Mediterranean, Middle Eastern",,"Mediterranean, Middle Eastern",4.5,"11 Duncan Street, Toronto",43.647546,-79.388123,917,2439.986346,+16476600909,False,$$$$
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1200,Mexico Lindo Express,Mexican,,Mexican,4.0,"2586 Birchmount Road, Scarborough",43.790042,-79.302423,205,2980.056053,+16477480679,False,$$
1201,Mr Congee Chinese Cuisine,Chinese,,Chinese,3.0,"2900 Warden Avenue, Scarborough",43.798848,-79.318250,99,1587.519238,+14165513223,False,$$
1202,Fishman Wharf Seafood,"Seafood, Chinese",Seafood,Chinese,3.5,"4080 Steeles Avenue E, Markham",43.822623,-79.313552,111,1232.647328,+19055136666,False,$$$
1203,Fuji Lamb House,"Barbeque, Chinese",Barbeque,Chinese,4.0,"3330 Pharmacy Avenue, Scarborough",43.804255,-79.331052,21,1255.142327,+16478300666,False,$$
1204,La Petite Colline & Shan Shan Cafe,"Bakeries, Cafes",Cafes,,4.0,"3355 Steeles Avenue E, Toronto",43.813660,-79.346793,143,2061.532656,+14164935885,False,$$

In [1]:
import pandas as pd
Toronto1_df = pd.read_csv('../data/Toronto.csv')
Toronto1_df.head()

,Name,Categories,Cuisine Types,Nationalities,Rating,Address,Res_Latitude,Res_Longitude,Reviews,Distance,Phone,Closed,Price
0,Pai Northern Thai Kitchen,Thai,NaN,Thai,4.5,"18 Duncan Street, Toronto",43.647840,-79.388720,3522,2400.967551,1.416901e+10,False,$$
1,Richmond Station,Canadian (New),NaN,Canadian (New),4.5,"1 Richmond Street W, Toronto",43.651373,-79.379285,912,3222.053229,1.647748e+10,False,$$$
2,Mildred's Temple Kitchen,"Breakfast & Brunch, Canadian (New)",NaN,Canadian (New),4.0,"85 Hanna Avenue, Toronto",43.639911,-79.420424,1044,518.591403,1.416589e+10,False,$$
3,Gusto 101,Italian,NaN,Italian,4.0,"101 Portland Street, Toronto",43.645002,-79.400309,1159,1434.362264,1.416505e+10,False,$$
4,Byblos,"Mediterranean, Middle Eastern",NaN,"Mediterranean, Middle Eastern",4.5,"11 Duncan Street, Toronto",43.647546,-79.388123,917,2439.986346,1.647660e+10,False,$$$$

In [2]:
Toronto1_df['Price'].fillna(method='ffill', inplace=True)
columns_to_fill = ['Nationalities','Phone','Categories']
Toronto1_df[columns_to_fill] = Toronto1_df[columns_to_fill].fillna('NA')


import pandas as pd
import numpy as np
def fill_cuisine(row):
    if pd.notnull(row['Cuisine Types']):
        return row['Cuisine Types']
    categories = row['Categories'].split(', ')
    if len(categories) > 0:
        return categories[0]
    return np.nan

# Apply the function to fill 'Cuisine Types'
Toronto1_df['Cuisine Types'] = Toronto1_df.apply(fill_cuisine, axis=1)

Toronto1_df['Phone'] = pd.to_numeric(Toronto1_df['Phone'], errors='coerce').fillna(np.nan).astype('Int64').astype(str)

Toronto1_df['City']='Toronto'
# Print the updated DataFrame
Toronto1_df.head()

,Name,Categories,Cuisine Types,Nationalities,Rating,Address,Res_Latitude,Res_Longitude,Reviews,Distance,Phone,Closed,Price,City
0,Pai Northern Thai Kitchen,Thai,Thai,Thai,4.5,"18 Duncan Street, Toronto",43.647840,-79.388720,3522,2400.967551,14169014724,False,$$,Toronto
1,Richmond Station,Canadian (New),Canadian (New),Canadian (New),4.5,"1 Richmond Street W, Toronto",43.651373,-79.379285,912,3222.053229,16477481444,False,$$$,Toronto
2,Mildred's Temple Kitchen,"Breakfast & Brunch, Canadian (New)",Breakfast & Brunch,Canadian (New),4.0,"85 Hanna Avenue, Toronto",43.639911,-79.420424,1044,518.591403,14165885695,False,$$,Toronto
3,Gusto 101,Italian,Italian,Italian,4.0,"101 Portland Street, Toronto",43.645002,-79.400309,1159,1434.362264,14165049669,False,$$,Toronto
4,Byblos,"Mediterranean, Middle Eastern",Mediterranean,"Mediterranean, Middle Eastern",4.5,"11 Duncan Street, Toronto",43.647546,-79.388123,917,2439.986346,16476600909,False,$$$$,Toronto

In [3]:
Toronto1_df['Res_Latitude'] = Toronto1_df['Res_Latitude'].round(6)
Toronto1_df['Res_Longitude'] = Toronto1_df['Res_Longitude'].round(6)
Toronto1_df['Distance']=Toronto1_df['Distance'].round(2)

In [4]:
print(Toronto1_df.isnull().sum())
Toronto1_df

Name             0
Categories       0
Cuisine Types    0
Nationalities    0
Rating           0
Address          0
Res_Latitude     0
Res_Longitude    0
Reviews          0
Distance         0
Phone            0
Closed           0
Price            0
City             0
dtype: int64

,Name,Categories,Cuisine Types,Nationalities,Rating,Address,Res_Latitude,Res_Longitude,Reviews,Distance,Phone,Closed,Price,City
0,Pai Northern Thai Kitchen,Thai,Thai,Thai,4.5,"18 Duncan Street, Toronto",43.647840,-79.388720,3522,2400.97,14169014724,False,$$,Toronto
1,Richmond Station,Canadian (New),Canadian (New),Canadian (New),4.5,"1 Richmond Street W, Toronto",43.651373,-79.379285,912,3222.05,16477481444,False,$$$,Toronto
2,Mildred's Temple Kitchen,"Breakfast & Brunch, Canadian (New)",Breakfast & Brunch,Canadian (New),4.0,"85 Hanna Avenue, Toronto",43.639911,-79.420424,1044,518.59,14165885695,False,$$,Toronto
3,Gusto 101,Italian,Italian,Italian,4.0,"101 Portland Street, Toronto",43.645002,-79.400309,1159,1434.36,14165049669,False,$$,Toronto
4,Byblos,"Mediterranean, Middle Eastern",Mediterranean,"Mediterranean, Middle Eastern",4.5,"11 Duncan Street, Toronto",43.647546,-79.388123,917,2439.99,16476600909,False,$$$$,Toronto
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1200,Mexico Lindo Express,Mexican,Mexican,Mexican,4.0,"2586 Birchmount Road, Scarborough",43.790042,-79.302423,205,2980.06,16477480679,False,$$,Toronto
1201,Mr Congee Chinese Cuisine,Chinese,Chinese,Chinese,3.0,"2900 Warden Avenue, Scarborough",43.798848,-79.318250,99,1587.52,14165513223,False,$$,Toronto
1202,Fishman Wharf Seafood,"Seafood, Chinese",Seafood,Chinese,3.5,"4080 Steeles Avenue E, Markham",43.822623,-79.313552,111,1232.65,19055136666,False,$$$,Toronto
1203,Fuji Lamb House,"Barbeque, Chinese",Barbeque,Chinese,4.0,"3330 Pharmacy Avenue, Scarborough",43.804255,-79.331052,21,1255.14,16478300666,False,$$,Toronto
1204,La Petite Colline & Shan Shan Cafe,"Bakeries, Cafes",Cafes,NA,4.0,"3355 Steeles Avenue E, Toronto",43.813660,-79.346793,143,2061.53,14164935885,False,$$,Toronto

In [5]:
Toronto1_df.to_csv('../data/Toronto.csv', index=False) 
Toronto1_df.to_excel('../data/Toronto.xlsx', index=False)