In [37]:
import requests
import json
import pandas as pd

YELP_API_KEY =YELP_API_KEY
API_ENDPOINT = 'https://api.yelp.com/v3/businesses/search'

# Yelp API endpoint URL for exploring restaurants
yelp_url = 'https://api.yelp.com/v3/businesses/search'
yelp_headers = {
    "Authorization": f"Bearer {YELP_API_KEY}"
}

venues_data_list = []

yelp_params = {
    'location': 'Laselle,Montreal',
    'radius': 1000,  # Radius for restaurant search (adjust as needed)
    'categories': 'restaurants',
    'limit': 50,  # Number of restaurants to retrieve (adjust as needed)
    }

yelp_response = requests.get(API_ENDPOINT, params=yelp_params, headers=yelp_headers)

# Check if the Yelp response is successful
if yelp_response.status_code == 200:
    yelp_data = json.loads(yelp_response.text)
    for business in yelp_data.get('businesses', []):
        categories = [category.get('title') for category in business.get('categories', [])]
        cuisine_keywords = ['coffee','fast food', 'burgers', 'sushi', 'pizza', 'sandwiches', 'pub', 'bar','cafe','steak','seafood','dessert','beer']
        nationality_keywords = ['european','greek','african','mexican','venezuelan','vietnamese','malaysian','caribbean','persian','filipino','irish','british','scottish','ethiopian','american', 'japanese', 'mediterranean', 'thai', 'french', 'italian', 'middle eastern','canadian','asian','indian','chinese','german','korean','peruvian']
        cuisine_list = []
        nationality_list = []
        for category in categories:
            category_lower = category.lower()
            if any(keyword in category_lower for keyword in cuisine_keywords):
                cuisine_list.append(category)
            elif any(keyword in category_lower for keyword in nationality_keywords):
                nationality_list.append(category)
        restaurant_details = {
            'Name': business.get('name'),
            'Categories': ', '.join(categories),
            'Cuisine Types': ', '.join(cuisine_list),
            'Nationalities': ', '.join(nationality_list),
            'Rating': business.get('rating'),
            'Address': ', '.join([business.get('location', {}).get('address1'), business.get('location', {}).get('city')]) or 'N/A',
            'Res_Latitude': business.get('coordinates', {}).get('latitude'),
            'Res_Longitude': business.get('coordinates', {}).get('longitude'),
            'Reviews': business.get('review_count'),
            'Distance': business.get('distance'),
            'Phone': business.get('phone') or 'N/A',
            'Closed': business.get('is_closed'),
            'Price': business.get('price') or 'N/A',
        }
        venues_data_list.append(restaurant_details)

# Create a DataFrame from the restaurant data list
Laselle = pd.DataFrame(venues_data_list)


Laselle.shape

(34, 13)

In [39]:
Montreal_df = pd.concat([Laselle,
Dorval,
Verdun,
Southwest,
Mile,
Jean,
Youville,
Villeray,
Hochelaga,
Royal,
Bellerive,
Ahuntsic,
Pointe,
Rosemont,
Cadillac,
Beaudry,
Beaubien,
McGill,
Papineau,
Plamondon,
Namur,
Jarry,
Bonaventure,
Cartier,
Snowdon], axis=0)

Montreal_df.shape

(1099, 13)

In [40]:
Montreal_no_duplicates = Montreal_df.drop_duplicates(subset=['Name', 'Categories', 'Cuisine Types', 'Nationalities','Address'])

In [41]:
Montreal_no_duplicates.shape

(962, 13)

In [42]:
Montreal_no_duplicates.reset_index(drop=True, inplace=True)
Montreal_no_duplicates

,Name,Categories,Cuisine Types,Nationalities,Rating,Address,Res_Latitude,Res_Longitude,Reviews,Distance,Phone,Closed,Price
0,Viana Grillades Portugaises,Portuguese,,,4.5,"2042 Rue Lapierre, LaSalle",45.436580,-73.615020,36,224.015641,+15143796789,False,$$
1,Restaurant Kyomi,Pan Asian,,Pan Asian,3.5,"7660 Boulevard Newman, Lasalle",45.438490,-73.622699,35,456.511402,+15143633602,False,$$$
2,Redipizza,"Pizza, Sandwiches, Salad","Pizza, Sandwiches",,4.5,"2074 Rue Thierry, Montreal",45.436594,-73.626680,9,679.224586,+15143654141,False,N/A
3,Eggsquis,Breakfast & Brunch,,,4.0,"7401 boulevard Newman, Lasalle",45.440671,-73.621192,11,572.291548,+15143680333,False,$$
4,Rabu Sushi,Sushi Bars,Sushi Bars,,4.5,"7824 Boulevard Champlain, Montreal",45.428644,-73.609475,13,1057.720034,+15143647228,False,$$
...,...,...,...,...,...,...,...,...,...,...,...,...,...
957,Tim Hortons,"Coffee & Tea, Breakfast & Brunch",Coffee & Tea,,3.0,"5180, Boul. Decarie, Montreal",45.484180,-73.631560,1,199.139088,+15144860552,False,$
958,Foodine,Indian,,Indian,4.5,"4939 Chemin Queen Mary, Montreal",45.486610,-73.627030,2,384.264775,+15149133481,False,N/A
959,Restaurant Chase,Lebanese,,,4.0,"5672 Monkland Ave, Montreal",45.474660,-73.623300,16,1095.236960,+15144822256,False,$
960,Kiku,Japanese,,Japanese,3.5,"5515 Avenue de Monkland, Montreal",45.476700,-73.622180,20,938.212512,+15143693659,False,$$$
961,TGG Indian Restaurant,Indian,,Indian,5.0,"5209 Bd Décarie, Montreal",45.484802,-73.630913,1,192.745964,+15146610641,False,N/A

In [43]:
Montreal_no_duplicates.to_csv('Montreal.csv', index=False)

In [2]:
import pandas as pd
Montreal1_df = pd.read_csv('../data/Montreal.csv')

In [3]:
Montreal1_df

,Name,Categories,Cuisine Types,Nationalities,Rating,Address,Res_Latitude,Res_Longitude,Reviews,Distance,Phone,Closed,Price
0,Viana Grillades Portugaises,Portuguese,NaN,NaN,4.5,"2042 Rue Lapierre, LaSalle",45.436580,-73.615020,36,224.015641,1.514380e+10,False,$$
1,Restaurant Kyomi,Pan Asian,NaN,Pan Asian,3.5,"7660 Boulevard Newman, Lasalle",45.438490,-73.622699,35,456.511402,1.514363e+10,False,$$$
2,Redipizza,"Pizza, Sandwiches, Salad","Pizza, Sandwiches",NaN,4.5,"2074 Rue Thierry, Montreal",45.436594,-73.626680,9,679.224586,1.514365e+10,False,NaN
3,Eggsquis,Breakfast & Brunch,NaN,NaN,4.0,"7401 boulevard Newman, Lasalle",45.440671,-73.621192,11,572.291548,1.514368e+10,False,$$
4,Rabu Sushi,Sushi Bars,Sushi Bars,NaN,4.5,"7824 Boulevard Champlain, Montreal",45.428644,-73.609475,13,1057.720034,1.514365e+10,False,$$
...,...,...,...,...,...,...,...,...,...,...,...,...,...
957,Tim Hortons,"Coffee & Tea, Breakfast & Brunch",Coffee & Tea,NaN,3.0,"5180, Boul. Decarie, Montreal",45.484180,-73.631560,1,199.139088,1.514486e+10,False,$
958,Foodine,Indian,NaN,Indian,4.5,"4939 Chemin Queen Mary, Montreal",45.486610,-73.627030,2,384.264775,1.514913e+10,False,NaN
959,Restaurant Chase,Lebanese,NaN,NaN,4.0,"5672 Monkland Ave, Montreal",45.474660,-73.623300,16,1095.236960,1.514482e+10,False,$
960,Kiku,Japanese,NaN,Japanese,3.5,"5515 Avenue de Monkland, Montreal",45.476700,-73.622180,20,938.212512,1.514369e+10,False,$$$
961,TGG Indian Restaurant,Indian,NaN,Indian,5.0,"5209 Bd Décarie, Montreal",45.484802,-73.630913,1,192.745964,1.514661e+10,False,NaN

In [4]:
Montreal1_df['Price'].fillna(method='ffill', inplace=True)
columns_to_fill = ['Nationalities','Phone','Categories']
Montreal1_df[columns_to_fill] = Montreal1_df[columns_to_fill].fillna('NA')


import pandas as pd
import numpy as np
def fill_cuisine(row):
    if pd.notnull(row['Cuisine Types']):
        return row['Cuisine Types']
    categories = row['Categories'].split(', ')
    if len(categories) > 0:
        return categories[0]
    return np.nan

# Apply the function to fill 'Cuisine Types'
Montreal1_df['Cuisine Types'] = Montreal1_df.apply(fill_cuisine, axis=1)

Montreal1_df['Phone'] = pd.to_numeric(Montreal1_df['Phone'], errors='coerce').fillna(np.nan).astype('Int64').astype(str)

Montreal1_df['City']='Montreal'
# Print the updated DataFrame
Montreal1_df.head()

,Name,Categories,Cuisine Types,Nationalities,Rating,Address,Res_Latitude,Res_Longitude,Reviews,Distance,Phone,Closed,Price,City
0,Viana Grillades Portugaises,Portuguese,Portuguese,NA,4.5,"2042 Rue Lapierre, LaSalle",45.436580,-73.615020,36,224.015641,15143796789,False,$$,Calgary
1,Restaurant Kyomi,Pan Asian,Pan Asian,Pan Asian,3.5,"7660 Boulevard Newman, Lasalle",45.438490,-73.622699,35,456.511402,15143633602,False,$$$,Calgary
2,Redipizza,"Pizza, Sandwiches, Salad","Pizza, Sandwiches",NA,4.5,"2074 Rue Thierry, Montreal",45.436594,-73.626680,9,679.224586,15143654141,False,$$$,Calgary
3,Eggsquis,Breakfast & Brunch,Breakfast & Brunch,NA,4.0,"7401 boulevard Newman, Lasalle",45.440671,-73.621192,11,572.291548,15143680333,False,$$,Calgary
4,Rabu Sushi,Sushi Bars,Sushi Bars,NA,4.5,"7824 Boulevard Champlain, Montreal",45.428644,-73.609475,13,1057.720034,15143647228,False,$$,Calgary

In [5]:
print(Montreal1_df.isnull().sum())

Name             0
Categories       0
Cuisine Types    0
Nationalities    0
Rating           0
Address          0
Res_Latitude     0
Res_Longitude    0
Reviews          0
Distance         0
Phone            0
Closed           0
Price            0
City             0
dtype: int64

In [6]:
Montreal1_df['City']='Montreal'

In [7]:
Montreal1_df['Res_Latitude'] = Montreal1_df['Res_Latitude'].round(6)
Montreal1_df['Res_Longitude'] = Montreal1_df['Res_Longitude'].round(6)
Montreal1_df['Distance']=Montreal1_df['Distance'].round(2)

In [8]:
Montreal1_df

,Name,Categories,Cuisine Types,Nationalities,Rating,Address,Res_Latitude,Res_Longitude,Reviews,Distance,Phone,Closed,Price,City
0,Viana Grillades Portugaises,Portuguese,Portuguese,NA,4.5,"2042 Rue Lapierre, LaSalle",45.436580,-73.615020,36,224.02,15143796789,False,$$,Montreal
1,Restaurant Kyomi,Pan Asian,Pan Asian,Pan Asian,3.5,"7660 Boulevard Newman, Lasalle",45.438490,-73.622699,35,456.51,15143633602,False,$$$,Montreal
2,Redipizza,"Pizza, Sandwiches, Salad","Pizza, Sandwiches",NA,4.5,"2074 Rue Thierry, Montreal",45.436594,-73.626680,9,679.22,15143654141,False,$$$,Montreal
3,Eggsquis,Breakfast & Brunch,Breakfast & Brunch,NA,4.0,"7401 boulevard Newman, Lasalle",45.440671,-73.621192,11,572.29,15143680333,False,$$,Montreal
4,Rabu Sushi,Sushi Bars,Sushi Bars,NA,4.5,"7824 Boulevard Champlain, Montreal",45.428644,-73.609474,13,1057.72,15143647228,False,$$,Montreal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
957,Tim Hortons,"Coffee & Tea, Breakfast & Brunch",Coffee & Tea,NA,3.0,"5180, Boul. Decarie, Montreal",45.484180,-73.631560,1,199.14,15144860552,False,$,Montreal
958,Foodine,Indian,Indian,Indian,4.5,"4939 Chemin Queen Mary, Montreal",45.486610,-73.627030,2,384.26,15149133481,False,$,Montreal
959,Restaurant Chase,Lebanese,Lebanese,NA,4.0,"5672 Monkland Ave, Montreal",45.474660,-73.623300,16,1095.24,15144822256,False,$,Montreal
960,Kiku,Japanese,Japanese,Japanese,3.5,"5515 Avenue de Monkland, Montreal",45.476700,-73.622180,20,938.21,15143693659,False,$$$,Montreal
961,TGG Indian Restaurant,Indian,Indian,Indian,5.0,"5209 Bd Décarie, Montreal",45.484802,-73.630913,1,192.75,15146610641,False,$$$,Montreal

In [9]:
Montreal1_df.to_csv('../data/Montreal.csv', index=False)

In [10]:
Montreal1_df.shape

(962, 14)

In [11]:
Montreal1_df.to_excel('../data/Montreal.xlsx', index=False)  # Specify the output file name and disable index column